<h1>Pokemon Catch Database</h1>
<h2>Search for Catch Time by Pokemon Name</h2>
<form class="form-horizontal episode">
  <input id="title" class="col-sm-10" type="text">
  <button class="search btn btn-submit">Search</button>
</form>
<h3>Search Results:</h3>
<ul class="search_results"></ul>
<div id="pokemon"></div>
<div id="pokemon_type"></div>
<div id="player"></div>
<div id="location"></div>
<div id="catch"></div>
<div id="catch_search"></div>